*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Helvetiva', serif;
}
.page{
    display: flex;
}

.header{
    display: flex;
    width:100%;
    height:100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("images/ezgif.com-gif-maker.gif");
    background-size: cover;
    color: whitesmoke;
}

.header img {
    display: flex;
    border-color:#E4D8DC;
    border-width: 5px;
    border-style:solid;
    border-radius: 50%;
     width:40%;
}


.name{
    padding-top: 0;
    display: flex;
    font-weight: bold;
    Font: Segoe;
    font-size: 1.5em;
}
.navbar{
   font-weight: 400px;
   padding-top:0;
   padding-bottom:10%;
   color: whitesmoke;
 
   list-style: none;
   
   flex-direction: column;
}

#contact-in-nav{
    padding-top: 20%;
}


.social-media{
    display: flex;
    flex-direction: row;
    align-items: end;
    padding-top: 60%;
    size: 200%;
}

.social-media{
    display: flex;
    justify-content: space-between;
}


#whatido{
    padding-top: 0%;
}


a:link,
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  background-color: #E7D9EA;
}

.welcome-page{
    color: #19456B;
    display: flex;
    height:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E7D9EA;
    
    padding-top: 200px;
    padding-bottom: 200px;
}
.welcome-page p{
    font-size:40px;
    font-style: italic;
    font-weight:700;
    font-size: 200%;
    text-decoration: dotted underline;
    
}
.welcome-page p1{
    font-size: 20px;
}
.welcome-page p2{
    font-size: 20px;
    font-style: italic;
}

.welcome-page img{
    width:200px;
    border-radius: 50%;
}


.about-me-page{
   color:#19456B;
   padding:100px 20px 100px 20px;
   background-color: #E7D9EA;
   height:100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   
}

.about-me-page p11{
    font-size:40px;
    font-style: italic;
    font-weight:700;
    font-size: 200%;
    text-decoration: dotted underline;
}

.about-me-page p3{
    font-size:18px;
    font-style: italic;
    text-align: left;
}


.about-me-page img{
    width: 70%;
    border-radius: 25%;
}

#tree{
    width:2em;
}
.what-i-do-page{
    background-color: #E7D9EA;
    color:#19456B;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:100%;
}
.what-i-do-page p12{
    font-size:40px;
    font-style: italic;
    font-weight:700;
    font-size: 200%;
    text-decoration: dotted underline;
}
.what-i-do-page p4,p5{
    font-size: 20px;
}
.what-i-do-page ul{
    font-size: 18px;
}

.what-i-do-page img{
    width: 200px;
}

.i-do-life{
    padding-top: 10%;
    font-size: 20px;
    color:#19456B;
    background-color: #E7D9EA;
}


.card-group img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.contact-page {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color:#19456B;
    background-color: #E7D9EA;
    width: 100%;
    

}
.contact-page p13{
  font-size: 30px;
  font-style: italic;
  font-weight:700;
  text-decoration: dotted underline;
  color:#19456B;
}

.contact-page p6{
    font-size: 20px;
    color:#19456B;
    font-style: italic;

}

.contact-page text{
    width:100%;
    color:#19456B;
}

.contact-page button{
    color:#19456B;
    background-color:#16C79A;
    
}

.footer{
    background-color: #E7D9EA;
}

/*Phone and tablet style*/
@media only screen and (max-width: 400px) {
    .header{
        padding-top: 20%;
    }
    .social-media{
        padding-top:20%;
        padding-bottom:10%;
    }
    #welcome-page p{
        font-size:40px;
        font-style: italic;
        font-weight:700;
        font-size: 200%;

    }
    
  }
  
  
/* Desktop and tablet Styles */

@media only screen and (min-width: 401px) {
    .header{
        float: left;
        width: 24%;
        position: fixed;
       
    }
    
    .right-column{
        float: left;
        display: flex;
        flex-direction: column;
        position:absolute;
        justify-content: center;
        left:25%;
        top:0;
    }
   
   
    .about-me-page{
        padding-top:20%;
    }
    .navbar{
        font-size: 120%;
    }
    .about-me-page img{
        width:35%;
    }
  
}